DB_PASSWORD=
POSTGRES_PORT=5433
APP_PORT=8081
DB_URL=jdbc:postgresql://localhost:5433/fiapx_identity
DB_USERNAME=fiapx_identity
API_DOCS_ENABLED=true
IDENTITY_SERVICE_KEY=
BOOTSTRAP_ADMIN_ENABLED=true
BOOTSTRAP_ADMIN_NAME=Administrator
BOOTSTRAP_ADMIN_EMAIL=
BOOTSTRAP_ADMIN_PASSWORD=
